/**
 * CONTENT TABLE
 *
 * NAVBAR BUTTONS
 *
 * CONTENT PICTURE
 * 
 * CHATBOX
 *
 * CARDS - REGIONS
 * 
 * CARDS - WINES
 * 
 * FOOTER
 *
 **/




/*------------------------------------*\
  #NAVBAR BUTTONS
\*------------------------------------*/

.title {
  margin:       10px;
  font-size:    clamp(2.7em, 2.7em + 2vw, 4em);
  text-align:   center;
  transition:   all 1s ease-out;
}

.title:hover {
  transform:  scale(1.1);          
}
  

.menu-wrapper {
  display:          flex;
  align-items:      center;
  justify-content:  space-between;
  border:           1px solid #333333;
  border-radius:    5px;
  padding:          8px;
  background-color: hsl(0, 0%, 15%, .7);
}

  .btn {
    display:            inline-block;
    padding:            10px;
    border:             1px solid #bfbfbf;
    text-decoration:    none;
  }

    .btn__body {
      font-size:        1.2rem;
      font-weight:      700;
      background-color: #4d0000;
      color:            #d9d9d9;
    }

    .btn__body:hover {
      background-color: #800000;
      color:            white;
    }
      
    .btn--icon { border-radius: 5px 0 0 5px; }

    .btn--info { border-radius: 0 5px 5px 0; }

    .btn--login {
      margin-left:      10px;
      padding-right:    30px;
      padding-left:     30px;
      border-radius:    5px 5px 5px 5px;
    }





/*---------------------------------------*\
  #CONTENT PICTURE
\*---------------------------------------*/

.greeting-text {
  padding:      20px;
  text-align:   center;
  color:      black;
  font-size:    2rem;
  font-weight:  700;
  text-shadow:  1px 1px 10px;
}





/*------------------------------------*\
  #CHATBOX
\*------------------------------------*/

.box {
  position:         fixed;
  display:          flex;
  justify-content:  center;
  align-items:      center;
  height:           70px;
  width:            70px;
}

  .chat__box {
    z-index:          2;   /* this helps to be always closest ot the viewer */
    text-decoration:  none;
    border:           1px solid white;
    border-radius:    50%;
    filter:           drop-shadow(5px 2px 4px black);
    left:             calc(100% - 90px);
    top:              calc(100% - 110px);
    transition:       .3s ease-in-out;
  }

  .chat__box:hover {
    transform:          scale(1.1);
    background-color: #009900;
  }

  .chat--green { background-color: #008000; }

  .btl-icon {
    filter:     drop-shadow(5px 2px 4px black);
    font-size:  37px;
    color:    #fff;
  }





/*------------------------------------*\
  #CARDS - REGIONS
\*------------------------------------*/

.header-regions {
  justify-self:   center;
  font-size:      clamp(1.5em, 1.5em + 2vw, 6em);
  padding-bottom: 3rem;
}

.region-name {
  text-align:       center;
  padding:          1rem 0;
  margin-top:       1.5rem;
  font-size:        1.4rem;
  font-weight:      700;
}

.region-name::before,
.region-name::after {
  display:            inline-block;
  content:            "";
  background-color: #000;
  height:             1px;
  width:              1.7rem;
  vertical-align:     middle;
  margin:             0 .5rem;
}


.cards {
  display:        block;
  transition:     all .5s ease-out;
}

  .cards__regions {
    width:          max(250px, 75vw);
    border:         1px solid #ccccb3;
    border-radius:  5px;
  }
  
  .cards__regions:hover {
    transform:    scale(1.05);
    box-shadow:   2px 3px 16px grey;
    filter:       contrast(120%);
  }

.winemakers {
  position:     relative;
  text-align:   center;
  line-height:  1.8rem;
  font-size:    1.2rem;
}


  .ball {
    display:        flex;
    position:       absolute;
    height:         4vw;   /* this gives size to the grape pic */
  }

  .ball__round {
    border-radius: 50%;
    filter: drop-shadow(2px 2px 3px black);
  }

  .animated-pic { max-width: 100%; }  
  /* without this the whitespace on the right of the animated pic
  would reach over the width of the page */

  .ball__left { animation: bounce-left 1s ease-in .1s infinite alternate both; }

    @keyframes bounce-left {
      0%   {left: 10%; bottom: 70%}
      100% {left: 10%; bottom: 0%}
    }
  
  .ball__right { animation: bounce-right .8s ease-in .1s infinite alternate both; }

    @keyframes bounce-right {
      0%   {left: 80%; bottom: 70%}
      100% {left: 80%; bottom: 0%}
    }

    

  




  /*------------------------------------*\
  #CARDS - WINES
\*------------------------------------*/

.cards__wines {
  display:        flex;
  align-items:    flex-start;
  position:       relative;
  width:          max(350px, 50vw);
  border:         1px solid #ccccb3;
  border-radius:  5px;
  padding:        1.5rem;
  margin-top:     1.2rem;
}

 .cards--white,
 .cards--red { background-color: #e6e6e6; }

  .cards--white:hover {
    transform:    scale(1.05);
    box-shadow:   2px 3px 16px #ffff66;
  }

  .cards--red:hover {
    transform:    scale(1.05);
    box-shadow:   2px 3px 16px #4d0000;
  }


  .wine-pic {
    width:        max(70px, 10vw);
    filter:       drop-shadow(1px 12px 6px gray);
    transition:   .5s ease-out;
  }

  .wine-pic:hover { transform: rotate(5deg); }


  .text { 
    align-self:     center;
    line-height:    23px;
    font-size:      max(1.5vw, 20px);
  }

   .small { font-size: .7em; }

   .price {
     position:  absolute;
     left:      calc(100% - 90px);
     top:       calc(100% - 30px);
   }




/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.copyright { color: white; }

 strong { font-weight: 900; }


.links { 
  text-decoration:  none;
  display:          inline-block;
  padding:          20px 10px 0 0;
  color:            #008000;
  font-weight:      900;
}