body {
  font-family: 'Noto Sans', sans-serif;
}

.title {
  display: block;
  margin: 0.67em 0 0.67em 0;
  font-size: 2em;
  font-weight: bold;
}

.site-content {
  display: block;
  margin: 1em 0 1em 0;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  flex: 1;     /* <-- ez a sor kell */
}

.footer {
  padding: 20px;
  margin: auto auto 0 auto;
  background-color: pink;
  font-size: 30px;
  width: 100vw;
  text-align: center;
}

.container {     /* meg ezek kelenek  */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}